/*@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/gothic.eot');
	src: local('../fonts/gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
}*/

/*@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/Century Gothic.eot');
    src: url('../fonts/Century Gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Century Gothic.woff2') format('woff2'),
         url('../fonts/Century Gothic.woff') format('woff'),
         url('../fonts/Century Gothic.ttf') format('truetype'),
         url('../fonts/Century Gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/InfoText-Bold.eot');
    src: url('../fonts/InfoText-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Bold.woff2') format('woff2'),
         url('../fonts/InfoText-Bold.woff') format('woff'),
         url('../fonts/InfoText-Bold.ttf') format('truetype'),
         url('../fonts/InfoText-Bold#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Light-webfont.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'robotobold';
    src: url('../fonts/InfoText-Bold.eot');
    src: url('../fonts/InfoText-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Bold.woff2') format('woff2'),
         url('../fonts/InfoText-Bold.woff') format('woff'),
         url('../fonts/InfoText-Bold.ttf') format('truetype'),
         url('../fonts/InfoText-Bold#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/InfoText-Bold.eot');
    src: url('../fonts/InfoText-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Bold.woff2') format('woff2'),
         url('../fonts/InfoText-Bold.woff') format('woff'),
         url('../fonts/InfoText-Bold.ttf') format('truetype'),
         url('../fonts/InfoText-Bold#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/Roboto-BlackItalic-webfont.eot');
    src: url('../fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BlackItalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/InfoText-Bold.eot');
    src: url('../fonts/InfoText-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Bold.woff2') format('woff2'),
         url('../fonts/InfoText-Bold.woff') format('woff'),
         url('../fonts/InfoText-Bold.ttf') format('truetype'),
         url('../fonts/InfoText-Bold#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/InfoText-Bold.eot');
    src: url('../fonts/InfoText-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Bold.woff2') format('woff2'),
         url('../fonts/InfoText-Bold.woff') format('woff'),
         url('../fonts/InfoText-Bold.ttf') format('truetype'),
         url('../fonts/InfoText-Bold#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'infonormal';
    src: url('../fonts/InfoText-Normal.eot');
    src: url('../fonts/InfoText-Normal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InfoText-Normal.woff2') format('woff2'),
         url('../fonts/InfoText-Normal.woff') format('woff'),
         url('../fonts/InfoText-Normal.ttf') format('truetype'),
         url('../fonts/InfoText-Normal#infobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
