.modal-backdrop, .modal-backdrop-back  {bottom: 0; left: 0; position: fixed; right: 0; top: 0; background-image:url(images/back-img.png); background-position:left top; background-repeat:repeat; background-color:transparent;}
.modal-backdrop-back {z-index:111;}
.fl-conteds-main img {border:0px; width: 100%; }
.fl-top-main {width:100%; background:#1D1D1D; padding:5px 0; box-shadow:0px 5px 5px rgba(0,0,0,0.7); text-align:right; position:relative; z-index:99;}
.fl-cent {margin:0 auto; width:780px;}
.fl-top-main img {width: 169px;}
.fl-close-button {background:#fff; position:absolute; right:10px; top:10px;z-index:999;  border-radius:50%; height:41px; width:41px;}
.fl-close-button a {color:#000; padding:10px 13px;}
.fl-cont-part {width:787px; padding:0 0 20px 0;}
.fl-conteds-main {margin:0 auto !important;}
.fl-left-part-main { float:left; min-height:1px; margin-bottom:30px !important;  position:relative;}
.fl-left-menu {width:780px; float:left; border-radius:0 0 15px 15px; background-image:url(images/menu-bg.png); background-position:left bottom; background-repeat:repeat-x; background-size:100px 100%; padding:8px 0; box-shadow:2px 3px 5px rgba(0,0,0,0.5)}
.fl-left-menu ul {margin:0px; padding:0px; width:100%; float:left;}
.fl-left-menu ul li {padding:0px 0; margin:0px; text-align:center; float:left; background-image:url(images/menu-sepre.png); background-position:right top; background-repeat:no-repeat; width: 86.6px; list-style: none; position:relative;}
.fl-left-menu ul li .flyer-email-errors {width: 100%;  display: block;}
.fl-left-menu ul li.no-bgimg {background-image:none;}
.fl-left-menu ul li a {color:#2e2c2c; font-style:italic;}
.fl-left-menu ul li a:hover { color:#658ba3;}
.fl-left-menu ul li a i {color:#0064a4; font-size:1.34em;}
.fl-left-menu ul li a span {width:100%; float:left;}
.fl-left-menu ul ul { margin:35px 0 0 0; padding:0px; width:auto;float:left; border-radius:5px !important; display:none; position:absolute; z-index:9; *margin-left:-70px;*margin-top:60px;}
.fl-drop-arrow { width:100%; text-align:center; height:14px; z-index:991;position:relative; overflow:hidden; margin-bottom:-1px;}
.fl-save-main, .fl-email-main, .fl-textcolor-main, .fl-bgcolor-main, .fl-addlogo-main, .fl-addtext-main, .fl-share-main, .fl-option-main, .fl-tham-cet {
    display: inline-block; border-radius:5px; border:solid 1px #FFF; padding:10px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #dadada 0%,#f0f0f0 100%);
    background: -webkit-linear-gradient(top, #dadada 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom,  #dadada 0%,#f0f0f0 100%);
    box-shadow:2px 3px 5px rgba(0,0,0,0.5); 
    *background-color: #dadada;
}
.fl-add-tran-bg span a span i {
    background: none repeat scroll 0 0 #fff;
    border-radius: 6px;
    color: #404040 !important;
    padding: 4px;
}
.fl-left-menu ul ul.show{ display:block;}
.fl-left-menu ul ul li { margin:0px; padding:0px; background-image:none; }
.fl-left-menu ul ul li a {color:inherit;}

/* box formating */
.js-box-formating{ margin-right:5px; margin-bottom:5px;}

/*.fl-left-menu ul li:hover ul, .fl-left-menu ul a:hover ul {visibility:visible;}*/
.fl-save-main {width:200px; border-radius:5px;}
.fl-save-cont {float:left; width:200px; padding:0 5px;}
.fl-save-con-und {float:left; width:95px; text-align:left; padding-bottom:10px;}
.fl-save-con-und label {font-weight: normal;font-style: italic;color: #2e2c2c; margin-bottom:0px;}
.fl-save-but {float:left; width:100%; padding:5px 0 0 0; text-align:center;}
.fl-save-button {background-color: #0064a4;border: medium none;border-radius: 5px;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);color: #fff;cursor: pointer;font-size: 1em;font-style: italic;font-weight: 900;padding: 5px 10px;}
.fl-email-main {width:350px; border-radius:5px;}
.fl-email-cont {float:left; width:350px;}
.fl-email-forms {float:left; width:330px; padding-bottom:5px;}
.fl-email-forms label {float:left; width:100px; padding-right:10px;word-break:keep-all; padding-left:10px; text-align:left; line-height:25px;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-email-forms input  { width:216px; border:solid 1px #999;}
.fl-email-forms textarea { width:216px; border:solid 1px #999; background:#fff; height:50px;}
.fl-email-forms .fl-radio {float:left; width:175px;}
.fl-email-forms .fl-radio input{ float:none; width:auto;}
.fl-email-forms .fl-radio label{ float:none; width:auto;}
.fl-color-main {width:350px; border-radius:5px; padding:5px;}
.fl-color-form {width:350px; padding-bottom:5px;}
.fl-color-form label {float:left; width:170px; padding-right:10px; padding-left:10px; text-align:left; line-height:25px;}
.fl-color-form input {float:left; width:120px; border:solid 1px #999; background:#fff;}
.fl-logo-main {width:300px; border-radius:5px; padding:5px;}
.fl-logo-title {width:300px; float:left; font-size:1.3em; padding-bottom:10px;}
.fl-logo-under {float:left; width:300px;}
.fl-logo-text {float:left; width:300px; text-align:left; padding-bottom:5px;}
.fl-logo-upl {float:left; width:300px;}

.fl-textcolor-main {width:300px; border-radius:5px; }
.fl-textcolor-title {width:290px; float:left; font-size:1.3em; padding-bottom:10px;}
.fl-textcolor-under {float:left; width:300px;}
.fl-textcolor-under label {float: left;width: 100px;padding-right: 10px;padding-left: 10px;text-align: left;line-height: 25px;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-textcolor-under input {float: left;width: 130px;border: solid 1px #999;background: #fff;}
.fl-textcolor-under img {float: left;margin-left: 10px;}
.fl-textcolor-upl {float:left; width:300px;}
.fl-textcolor-chec {float:left; width:300px;}

.fl-bgcolor-main {width:300px; border-radius:5px; }
.fl-bgcolor-title {width:290px; float:left; font-size:1.3em; padding-bottom:10px;}
.fl-bgcolor-under {float:left; width:300px;}
.fl-bgcolor-under label {float: left;width: 100px;padding-right: 10px;padding-left: 10px;text-align: left;line-height: 25px;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-bgcolor-under input {float: left;width: 130px;border: solid 1px #999;background: #fff;}
.fl-bgcolor-under img {float: left;margin-left: 10px;}
.fl-bgcolor-upl {float:left; width:300px;}
.fl-bgcolor-chec {float:left; width:300px;}

.fl-addlogo-main {width:230px; border-radius:5px;}
.fl-addlogo-under {float:left; width:300px;}
.fl-addlogo-under label {float: left;width: 100px;padding-right: 10px;padding-left: 10px;text-align: left;line-height: 25px;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-addlogo-under input {float: left;width: 87px;border: solid 1px #999;background: #fff;}
.fl-addlogo-upl {float:left; width:300px;}
.fl-addlogo-chec {float:left; width:300px;}

.fl-addtext-main {width:605px; border-radius:5px;  float:right; *margin-left:-450px}
.fl-addtext-under {float:left; width:300px;}
.fl-addtext-upl {float:left; width:300px;}
.fl-addtext-chec {float:left; width:300px;}

.fl-share-main {width:300px; border-radius:5px; float:right; *margin-left:-250px}
.fl-share-under {float:left; width:300px;}
.fl-share-upl {float:left; width:300px;}
.fl-share-chec {float:left; width:300px;}

.flyer-edit-block {text-align: center;margin: 60px 0;}
.fl-right-part-main {width:612px; border-radius:5px; height:1000px; position: relative; *z-index:-1;margin: 0 auto; }
.fl-text-container {padding:15px 20px;color: #404040;font-size: 14px;font-family: 'robotoregular';}
*+html .fl-right-part-main {float:left; width:100%; border-radius:5px; height:792px; margin-top:40px; padding:25px}
.fl-product-imag {width: 300px; min-width: 50px; padding:0px 0px; position: absolute;top:130px;left: 0;}
.fl-product-imag-hurry {width:150px;;  padding:0px 0px;  min-width: 50px; text-align:center;position: absolute !important;top: 90px;/*left: 450px;*/}
.fl-product-close {position:relative; width:0px; height:0px; float:right; display:none; }
.fl-close {position:absolute; top:0px; right:0; height:19px;}
.fl-product-close .fl-close {background: #fff;color: #0064a4;text-align: center;font-weight: 900;border-radius: 0 0 0 10px;border-left:dashed 1px #999;border-bottom: dashed 1px #999;}
.fl-product-close .fl-close a {font-size:16px !important; text-shadow:0px 0px 0px rgba(0,0,0,0); display: table-cell;padding: 0 5px;}
.fl-product-close .fl-close img {vertical-align:text-top; max-width: inherit;}
.fl-cont-box:hover .fl-product-close, .fl-cont-box:hover .fl-doted {display:block;}
.fl-pr-pro {float:left; width:300px; padding:0px 0; margin-bottom: 12px;position: absolute;top: 565px;left: 30px;}
.fl-pr-pro ul {float:left; margin:0px; padding:0px; width:100%;}
.fl-pr-pro ul li {margin:0px; padding:0px; width:100%; float:left;}
.fl-product-thm-img {width:85px; padding:0px; float:left;position: absolute;}
.fl-product-thm-img-1{top: 565px;left: 490px;}
.fl-product-thm-img-2{top: 565px;left: 400px;}
.fl-product-thm-img-3 {top: 565px;left: 310px;}
.fl-titles-part {border:1px solid transparent !important; width:100%; float:left; padding:0px;color: #202020;font-size: 22px; font-weight:900;margin-bottom: 12px;position: absolute; top:55px;margin-right:0;}
.fl-text-container.for-title-change{padding:20px;}
.fl-text-part {border:1px solid transparent !important; width:400px; float:left; font-size:0.9em; margin-bottom: 15px; position: absolute;top: 160px;}
.fl-text-part-no-width {border: 1px solid transparent !important;float:left; font-size:0.9em; margin-bottom: 15px; position: absolute;top: 160px;left: 30px;}
.fl-qty-main {float:left; width:100%; padding:0px 0;position: absolute;top:490px;background-color:transparent;  border:1px solid transparent; }
.fl-qty-main table tbody tr td{color: #404040;font-size: 14px;font-family: 'robotoregular';text-align:left;padding: 0 15px;}
.fl-qty-main table tr.border td {border-bottom:solid 1px #fff;}
.fl-qty-main table tr td { padding:5px; }
.fl-full-width {width:100%;}
.fl-box-border:hover {/*outline:dashed; outline-color:#999; outline-width:1px;*/ border:dashed 1px #999 !important;}
.fl-box-border-hover:hover {/*outline:dashed; outline-color:#999; outline-width:1px;*/ border:dashed 1px #999 !important;  cursor: move; margin-top:0; margin-left:0;}
.fl-footer-logo {width:100%;position: absolute;margin:0 auto;}
.fl-footer-logo img{margin:10px 0 20px 0;}
.fl-coppy-righttext {border:1px solid transparent !important; float:left; width:80%; text-align:center; font-size:0.8em;position: absolute;top: 730px;left: 10%; }
.fl-doted {position:absolute; height:10px; width:10px; background:#fff; border:solid 1px #999; display:none;}
.fl-top-left {top:0; left:0; margin-left:-5px; margin-top:-5px; cursor: nw-resize;}
.fl-top-centr {top:0; left:50%; margin-left:-5px; margin-top:-5px;cursor: n-resize;}
.fl-top-right {top:0; right:0; margin-right:-5px; margin-top:-5px;cursor: ne-resize;}
.fl-left-center {top:50%; left:0; margin-left:-5px; margin-top:-5px;cursor: w-resize;}
.fl-right-center {top:50%; right:0; margin-right:-5px; margin-top:-5px;cursor: e-resize;}
.fl-bottem-left {left:0; bottom:0; margin-left:-5px; margin-bottom:-5px;cursor: sw-resize;}
.fl-bottem-center {left:50%; bottom:0; margin-left:-5px; margin-bottom:-5px;cursor: s-resize;}
.fl-bottem-right {right:0; bottom:0; margin-right:-5px; margin-bottom:-5px; cursor: se-resize;}

.fl-backg-main {margin:0 auto; width:805px; position:relative; z-index:200;}
.fl-backg-part {background-color:#fff; border-radius:10px; margin:20px 0; width:100%; float:left;}
.fl-backg-top-img {width:615px; height:795px; float:left;}
.fl-background-cct-text {float:left; width:100%; text-align:center; padding-bottom:5px;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-tham-cet {float: left;width: 185px;padding: 10px; margin-left: 1px; margin-top: 30px;border-radius: 5px;position: relative;}
.fl-category-list {float:left; width:100%; border-bottom:solid 1px #ccc;  padding:5px 0; text-align:center;}
.fl-category-tham {float:left; width:100%; float:left; padding:00px 10px; height:645px; overflow-y:auto; margin:20px 0;overflow-x: hidden;}
.fl-category-tham-imag {float:left; width:138px; padding:5px; position:relative;}
.fl-category-tham-imag img {width:134px; height:157px; position:relative; cursor: pointer;}
.fl-category-tham-imag.active img {box-shadow: 0px 0px 10px rgba(0,100,164,0.9);border: solid 1px rgba(0,100,164,0.7);}
.fl-background-arrows {float: left;width: 20px;height: 30px;position: absolute;left: -18px;top: 60px; }
.color-block-fl {width: 12%;}
.f1-product-description{top:610px;position:absolute;text-align:left;width:100%;}


#fl-drop-option { display: none;position: absolute;top: 0;left: 104%; z-index:99; width:100%;}
#fl-drop-option .fl-drop-arrow {width: 20px;position: absolute;left: -14px;height: 22px;}
.fl-option-main {width: 300px;float: left;z-index: 99;bottom: -65px;position: absolute;}
/*.fl-option-main {width: 300px;float: left;z-index: 99;}*/
.fl-option-title {width:100%; float:left; border-bottom:solid 1px #ccc; text-align:center; font-size:1.5em; padding:5px 0;}
.fl-option-under {width:100%; float:left;}
.fl-option-under-part {width:100%; float:left;}
.fl-option-cont-subtit {width:100%; float:left; padding:5px 0 10px 0;border-bottom:solid 1px #ccc; text-align:center;color: #2e2c2c;font-style: italic;font-weight: normal;}
.fl-option-colum-main {width:100%; float:left; }
.fl-option-colum-no {width:50%; float:left; padding:5px 0;}
.fl-option-colum-no label {float:left;color: #2e2c2c;font-style: italic;font-weight: normal; }
.fl-option-colum-no input {float:left; margin-top:0px;  margin-right:5px;}
#background-images {margin-left: 490px;}
.modal-image-upload-crop-body { background-color: #fff;  width: 795px;  margin: 0 auto; }
.modal-image-upload-crop-body .modal-body { text-align: center; }
.upload-image-tab{ float: left}
.my-image-tab{ float: left}
.container-image-upload-crop .preview { float: left; height: 120px; width: 120px; border-radius: 10px; box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); margin: 10px; display: table;  position: relative; overflow: hidden;}
.container-image-upload-crop .fl-close-pry-but {display: none; position: absolute;float: left;margin-top:-10px;width: 100%; text-align: center;top: 50%;}
.container-image-upload-crop .crop-thame-images {display: table-cell; vertical-align: middle; text-align: center;}
.container-image-upload-crop .browse-btn { /*float: right;*/ margin-left: 20px; }
.container-image-upload-crop .template-download .them-trns-bg {background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: none; border-radius: 10px;}
.container-image-upload-crop .template-download:hover .them-trns-bg { display: block}
.container-image-upload-crop .template-download:hover .fl-close-pry-but {display: block; z-index: 99;}

#show-uploaded-image {width: 100%;position: relative;margin-bottom: 20px;border-radius: 10px;/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/}
#show-uploaded-image img {max-width: 100%}
.fl-upload-images {width: 50%; float: left; text-align: right; font-size:1.5em;}

.fl-add-images-center {margin: 30px 0 0 -345px; width: 610px;position: relative; z-index: 111;}
.fl-add-img-main {width:612px; float: left;background-color:#fff; border-radius: 10px; overflow: hidden; height: 792px}
.fl-add-top-main {float: left; width: 612px; background-image: url("../images/add-img-top-bg.png"); background-repeat: repeat-x; padding: 15px 5px 8px 25px;}
*+html .fl-add-top-main { width: 580px;}
.fl-add-top-main .fl-add-images-part {float: left; width:170px;color: #232323; font-size: 1.5em;font-weight: normal;font-style: italic;}
.fl-add-top-main .fl-add-icons-part {float: right; width: 345px;}
.fl-add-top-main .fl-add-icons-part ul {float: left; width: 100%; margin: 0px; padding: 0px ;position: relative;}
.fl-add-top-main .fl-add-icons-part ul li {float: left; margin: 0px; padding: 0px 8px;text-align:center; position: relative; width: auto; font-size: 14px; font-style: italic;}
.fl-add-top-main .fl-add-icons-part ul li a {color: #2e2c2c; font-size: 14px; font-style: italic;}
.fl-add-top-main .fl-add-icons-part ul li a:hover {color: #658ba3;}
.fl-add-top-main .fl-add-icons-part ul li img {padding-bottom:5px;}
.fl-add-top-main .fl-add-icons-part ul li .input {opacity: 0; width: 100%; height: 44px; position: absolute; top: 0; cursor: pointer;filter:alpha(opacity=0);right: 0;left: 0; }
.fl-add-top-main .fl-add-icons-part ul li .add-Browse {width: 50px; height: 50px;}
.fl-add-product-images { width: 610px; height: 290px; overflow: auto;}
.fl-add-product-the-text {width: 610px; padding: 10px 0; text-align: center; font-size: 1.5em;}
.fl-add-tham-imges { width: 612px; overflow: auto; height: 386px;}
.fl-add-tham-imges .fl-add-tham-part { width: 120px; height: 120px;float: left;/*margin:5px 14px 5px 14px;*/border-radius:5px; background-color: #a5a5a5; position: relative;}
*+html .fl-add-tham-imges .fl-add-tham-part {position: inherit; overflow: hidden;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tham-img {display:table;  width: 100%; height: 120px; overflow: hidden;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tham-img img {width: 100%;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tham-img  span { display: table-cell; vertical-align: middle; text-align: center;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tran-bg {display: none;overflow: hidden; }
.fl-add-tham-imges .fl-add-tham-part:hover .fl-add-tran-bg {background-image: url("../images/add-tran-bg.png"); background-repeat: repeat;display: block; height: 120px; width: 120px; overflow: hidden; position: absolute;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tran-bg .fl-full-screen {position:absolute; top: 50%; left: 50%; margin-left: -18px; margin-top: -18px;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tran-bg .fl-close-img {float: right;padding: 5px 5px;color:#fff;}
.fl-add-tham-imges .fl-add-tham-part .fl-add-tran-bg .fl-close-img img {width: 20px;}
.flyer-img-fade-div { height: 100%;  opacity: 1;  position: absolute;  width: 100%; z-index: 6; }
.flyer-save-background .flyer-img-fade-div { left: 100%\9; }

.remove-border-cross-img .fl-box-border:hover{
    border: none;
    margin-top:0px; margin-left:0px;
    cursor: auto;
}
.remvoe-border-cross-img .fl-product-close,
.remove-border-cross-img .fl-cont-box:hover .fl-product-close, 
.remove-border-cross-img .fl-cont-box:hover .fl-doted {
    display: none;
}

.fl-right-part-main-inner  { z-index: 8;position: relative; }
.show-flyer-url input {
    width: 182px;
}
.show-flyer-url {
    display: none;
    margin-top: 15px;
}

.active-element {
    /* -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #eeeeee;
     border-image: none;
     border-radius: 3px;
     border-style: solid;
     border-width: 1px 1px 1px 5px; */
    box-shadow: 2px 2px 4px #ccc;
}

.active-element {
    border-left-color: #5bc0de;
}

.active-element:hover
{
    cursor: move;
    margin-top: -1px;

}

.color_input {
    height: 30px;
    margin-bottom: 15px;
    margin-left: 65px;
}

.t_color {
    background: none repeat scroll 0 0 black;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 30px;
}

.t_color_text {
    border: 1px solid #cccccc;
    border-radius: 0;
    float: left;
    line-height: 28px;
    width: 137px;
    font-size: 16px;
}
.fl-cont-box {padding: 2px; }
.fl-textcolor-under{margin-bottom:10px;}
.fl-tham-cet #amount {width: 100%}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
}
.page-content{  padding-top: 0px; }
.fl-add-img-main, .fl-right-part-main{border: 1px solid #ccc;}

.remove-border-cross-img .fl-add-img-main, .remove-border-cross-img .fl-right-part-main{  border: none;}

.fl-text-container ul, .fl-text-container ol { margin:0  !important;; padding:0 0 0 60px  !important;; }
.fl-email-forms input[type="checkbox"], .fl-email-forms input[type="radio"] { border:0 !important; }
.remove-background-color { max-height:400px !important;}
.fl-hover-fix{margin-left:0;}
.fl-product-imag {margin-left:27%;}
.remove-border .fl-box-border-hover:hover { border:1px solid transparent !important; margin:0 !important;}
.remove-border .fl-box-border:hover { border:none !important; margin: 1px 0 0 1px;}
.remove-border .fl-product-detail, .remove-border .fl-qty-main { border:none !important;}
.fl-product-detail{border:1px solid transparent !important;}
.fl-product-imag.obfl-resizeable.size-chart {top:555px;width:100%;margin-left: 0;padding: 0 20px;}
.fl-product-imag.obfl-resizeable.size-chart table tbody tr td{text-align: left;color: #404040;font-size: 14px;font-family: 'robotoregular';}
.fl-save-button { margin: 0 5px; }

.custom-bkgrnd { width: 750px; }